/* ========================================
            Customizer NavBar
=========================================== */
@media only screen and (min-width:992px){
    .side-nav {
        width: 250px;
        left: 250px;
        margin-top: 64px;
    }

    .sidenav-toggle i {
        display: none !important;
    }
}

html {
    height: 100%;
    margin: auto;
}

body {
    vertical-align: middle;
    background-color: #fff !important;
}

main #app {
    margin-top: 10%;
}

nav {
    background-color: #26a69a;
    height: 75px;
    line-height: 55px;
}

.sidenav-toggle {
    margin-top: 10px;
    position: absolute;
}

/* Style For Arrow Back */
.back {
    display: none;
    position: absolute;
    top: 25px;
    z-index: 99999;
    color: #fff;
}

.brand-logo {
    margin-left: 10px;  
}

.navbar-fixed {
    z-index: 9999;
}

.side-nav {
    width: 250px;
    margin-top: 64px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.side-nav .user-info {
    padding: 25px 15px 10px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    background: url(../img/user-img-background.jpg) no-repeat no-repeat;
    height: 150px;
}

.side-nav .user-info .image {
    margin-right: 12px;
    display: inline-block;
}

.side-nav .user-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
}

.side-nav .user-info .info-container {
    cursor: default;
    display: block;
    position: relative;
    top: 25px;
}

.side-nav .user-info .info-container .name, .side-nav .user-info .info-container .email {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    max-width: 200px;
    color: #fff;
}

.side-nav .user-info .info-container .user-helper-dropdown {
    position: absolute;
    right: 0px;
    bottom: -5px;
    cursor: pointer;
}

a.dropdown-button {
    color: #fff;
}

.dropdown-content {
    min-width: 150px !important;
    left: -170px !important;
}

/* Card Style */
.card-title{
    color: #26a69a;
}

.card-action a{
    color: #26a69a !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #1D8D82 !important;
}

/* Change browser scroll style */
body::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar, .modal::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb {
    background-color: #26a69a;
}